<html ng-app="vitacoraApp">
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="vitacora.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/recorder.js"></script>
    <script src="vitacora.js"></script>
    <title>Vitacora</title>
  </head>

  <body>
    <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <h3 class="text-muted">Vitacora</h3>
    </div>

      <div ng-controller="vitacoraCtrl">
        <h1>{{ conversation.name }}</h1>
        <canvas id="analyzer" class="col-xs-12"></canvas>
        <table class="table table-hover">
          <tbody>
            <tr ng-repeat="comment in comments">
              <td><strong>{{ comment.who }}</strong></td>
              <td>{{ comment.what }}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </body>
</html>